[Desktop Entry]
Name=Reboot UEFI
Exec=sudo sh -c "echo 'Syncing cached writes' && sync && echo 'Done' && systemctl reboot --firmware-setup"
Icon=/usr/share/icons/Papirus/64x64/apps/system-reboot.svg
Terminal=true

