[Desktop Entry]
Name=Shutdown
Exec=sudo sh -c "echo 'Syncing cached writes' && sync && echo 'Done' && systemctl poweroff"
Icon=/usr/share/icons/Papirus/64x64/apps/system-shutdown.svg
Terminal=true

