# Installation:
# sudo apt-get install libdrm-tests

# Usage:
#   proptest [options]
#   proptest [options] [obj id] [obj type] [prop id] [value]

# options:
#   -D DEVICE  use the given device
#   -M MODULE  use the given driver

# The first form just prints all the existing properties. The second one is
# used to set the value of a specified property. The object type can be one of
# the following strings:
#   connector crtc

# Example:
#   proptest 7 connector 2 1
# will set property 2 of connector 7 to 1

# Check:
# sudo proptest
# sudo proptest -M i915 -D /dev/dri/card0 | egrep -A3 'Broadcast|Connector'

# eDP-1 (95), Broadcast RGB (99), Full 0:255 (1)
ACTION=="add", SUBSYSTEM=="module", KERNEL=="i915", RUN+="/usr/bin/proptest -M i915 -D /dev/dri/card0 95 connector 99 1"

# HDMI-A-1 (103), Broadcast RGB (99), Full 0:255 (1)
ACTION=="add", SUBSYSTEM=="module", KERNEL=="i915", RUN+="/usr/bin/proptest -M i915 -D /dev/dri/card0 103 connector 99 1"
